@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #4DFFBE;
    --cor-secundaria: #f6f6f6;
    --cor-fundo: #000000;
    --cor-hover: #A6B28B;
    --fonte-principal: 'Montserrat', sans-serif;
    --fonte-secundaria: 'Krona One', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--cor-fundo);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 5%;
}

.cabecalho__menu__link {
    text-decoration: none;
    color: var(--cor-primaria);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0.625rem;
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem; 
}

/*Boas vindas ao meu portfólio! */
.texto-apresentacao-conteudo {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: "Krona One", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/*Eleve seu negócio digital a outro nível*/
.texto-apresentacao {
    max-width: 60%;
    line-height: 1.0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

/*com um Front-end de qualidade! */
.titulo-destaque {
    color: var(--cor-primaria);
}

/* Olá! Sou Lucyanna, desenvolvedora Front-end com especialidade em React, HTML e CSS. Ajudo pequenos negócios e designers a colocarem em prática boas ideias. Vamos conversar? */
.apresentacao__texto {
    font-size: 1rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    gap: 1.25rem;
}

.apresentacao_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.icone {
    width: 2rem; /* Aumente esse valor para deixar maior */
    height: 2rem;
}

.apresentacao_links_subtitulo {
    font-family: "Krona One", sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

.botao {
    background-color: var(--cor-primaria);
    text-decoration: none;
    color: var(--cor-fundo);
    border: 0.125rem solid var(--cor-secundaria);
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    border-radius: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    align-items: center; /* Centraliza verticalmente */
    display: flex; /* Torna o link um contêiner flexível */
    gap: 0.5rem; /* Espaço entre ícone e texto */
    width: 9.375rem; /* Largura fixa */
}

.botao:hover {
    background-color: var(--cor-hover);
    color: var(--cor-primaria);
    border: 2px solid #22d4fd;
    transition: 0.3s;
}

.apresentacao__imagem {
    max-width: none;
    height: auto;
}

.rodape {
    background-color: var(--cor-primaria);
    color: var(--cor-fundo);
    text-align: center;
    padding: 0.625rem;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    font-style: normal;
    margin-top: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10% 0% 0% 2%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
        text-align: center;
    }

    .texto-apresentacao {
        width: auto;
    }

    .apresentacao__texto {
        max-width: 100%;
    }

    .apresentacao__imagem {
        max-width: 80%;
        height: auto;
    }
}